Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-branch-clone
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/src/.+\.h$'
FormatStyle: file
